<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Missions to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="jumbotron text-center">
                    <h1>
                        Mission to Mars
                    </h1>
                    <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h1>
                            Latest Mars News
                        </h1>
                        <h3>{{ mars.news_title }}</h3>
                        <p>
                            {{ mars.news_p }}
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9">
                        <h2>
                            Featured Mars Image
                        </h2><img alt="Featured Mars Image" src= {{ mars.featured_image_url }} />
                    </div>
                    <div class="col-md-3">
                        <h3>
                            Mars Facts
                        </h3>
                            {{ mars.facts_html | safe}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="text-center">
                            Mars Hemispheres
                        </h3>
                    </div>
                </div>
                {% for movie in list %}

                <div class="col-lg-4">
                    <div class="card" style="width: 20rem;">
                        <div class="card-body">
                        <h4 class="card-title">{{ movie }}</h4>
                        <h6 class="card-subtitle mb-2 text-muted">Is a top five favorite movie</h6>
                        <p class="card-text">Search <a href="https://www.imdb.com/">IMDB</a> for more info!</p>
                        </div>
                    </div>
                </div>

          {% endfor %}
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>